[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
haystack = "*"
torch = "*"
sentencepiece = "*"
protobuf = "*"
openai = "*"
flagembedding = "*"
peft = "*"
bert-extractive-summarizer = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.11"
